button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.button {
  font: 400 1rem / 1.3 $fontFamily;
  padding: .625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

@media (min-width: $md) {
  font-size: .8rem;
}
  @media (min-width: $xl) {
    font-size: 1rem;
    padding: 1em 1.875em;
    line-height: 1;

  }

  &--size--lg {
    padding-left: 4.7rem;
    padding-right: 4.7rem;

    @media (max-width: $sm) {
      padding: 1rem 10px;
      width: 100%;
    }
  }

  &--bg {

    &--theme {
      $border: 1px solid $themeColor;
      background-color: $themeColor;
      color: #fff;
      position: relative;
      border: $border;
      border-color: transparent;
      transition: .3s;
      z-index: 3;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        border: $border;
        top: 5px; left: 4px;
        z-index: -1;
        transition: .2s;
      }


      &:hover {
        background-color: #343434;
        color: #fff !important;
      }

      &:active {
        &:before {
          top: 0;
          left: 0;
        }
      }
    }
    &--none {
      margin: 0;
      padding: 0;
      color: $themeColor;
      position: relative;
      transition: .3s;
      font-weight: 300;
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $themeColor;
        transition: .3s;
        transform-origin: left;
        position: absolute;
        bottom: -1px; left: 0;
      }

      &:hover {
        opacity: .7;
        &:before {
          transform: scaleX(0);
        }
      }
    }
  }
}
