.bg-text {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  $padding: .527em;
  span {
    display: inline-block;
    background-color: $themeColor;
    color: #fff;
    line-height: 1.3;
    padding-right: $padding;
    font-size: 2.25rem;

    &:first-child {
      width: 80%;
      text-align: right;
    }

    &:last-child {
      margin-left: auto;
      padding-left: $padding;
    }
  }
}

.social {
  display: flex;
  align-items: center;

  li {
    a {
      width: 24px;
      height: 24px;
      display: block;
      img {
        width: 18px;
        height: 18px;
        margin: 0 auto;
      }
    }

    margin-left: 12px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.payment {
  max-width: 173px;
  li {
    img {
      width: auto;
      min-width: 80%;
    }

    &:first-child {
      img {
        width: 100%;
      }
    }
  }
}

.color {
  width: 18px;
  height: 18px;
  display: block;
}

span[data-color="#000"] {
  background-color: #000;
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  font: 300 12px / 1 $fontFamily;
  li {
    padding-left: .5rem;
    &:before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: "/";
    }

    &:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

.page-content {
  h1 {
    font-size: 1.5rem;

    @media (min-width: $sm) {
      font-size: 1.7rem;
    }

    @media (min-width: $md) {
      font-size: 1.9rem;
    }

    @media (min-width: $lg) {
      font-size: 2rem;
    }

    @media (min-width: $xl) {
      font-size: 2.25rem;
    }
  }
}

.price-wrap {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font: 700 1.5rem / 1 $fontFamily;
  white-space: nowrap;
  padding-right: 10px;
  &--old {
    opacity: .3;
    position: relative;
    display: inline-block;
    width: auto;
    @media (max-width: $md) {
      font-size: 1rem;
    }
    &:before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50% , -50%);
      background-color: $themeColor;
    }

    &~.price {
      color: $danger;
      margin-top: 20px;
      @media (max-width: $md) {
        margin-top: 5px;
      }
    }
  }
}

.sale {
  padding: 15px 8px;
  height: 50px;
  min-width: 50px;
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: center;
  background: $themeColor;
  color: #fff;


  @media (max-width: $sm - 1) {
    height: 25px;
    width: 30px;
    min-width: 25px;
    font-size: 10px;
    padding: 7px 4px;
  }
}

.size-select {
  span, a {
    font: 300 1rem / 1 $fontFamily;

  }

  a {
    font-weight: 700;
    margin-left: 5px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    width: auto;
    transition: .3s;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $themeColor;
      position: absolute;
      left: 50%; bottom: -1px;

      transform: translateX(-50%);
    } // after

    &:hover {
      opacity: .8;
    }
  }
}

//.filter {
//  @media (min-width: $lg) {
//    //width: 300px ;
//    display: flex;
//    height: 100%;
//    background: #f2f2f2;
//  }
//}

.radio {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: -500px;

    & + label {

      $size: 20px;
      width: $size;
      height: $size;

      min-width: $size;
      min-height: $size;
      border-radius: 50%;
      border: 1px solid $themeColor;
      display: block;
      position: relative;

      &:before {
        content: '';
        width: $size / 2;
        height: $size / 2;
        border-radius: 50%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50% , - 50%);
        background-color: $themeColor;
        opacity: 0;
      }


    } // label

    &:checked + label {
      &:before {
        opacity: 1;
      }
    }
  } // type radio
} // radio

.checkbox {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  min-height: 18px;

  input[type="checkbox"] {
    position: absolute;
    left: -500px;
    opacity: 0;
    height: 0;

    &+label {
      display: block;
      margin-left: 3px;
      $size: 18px;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
      border: 1px solid $themeColor;
      background: #fff url(img/icons/tick.svg) no-repeat center / 80%;
    }

    &:checked + label {
      background: $themeColor url(img/icons/tick.svg) no-repeat center / 80%;

    }
  } // input[type="checkbox"]


}

.checkbox, .radio {
  .theme-label {
    margin-left: 20px;
  }
}

.colors-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
}

.filter-colors, .colors-list {
  li {
    width: 66px;
  }

  .theme-label {
    margin-left: 12px;
    $size: 18px;
    width: $size;
    height: $size;
    min-width: $size;
    max-width: $size;
    padding: 0;
    border: 2px solid transparent;
    //background-color: red;
  }
}

.filter-item {
  margin-bottom: 14px;
}

.theme-label {
  font: 300 1rem / 1 $fontFamily;
}

fieldset {
  border: none;
  padding: 0;
  margin-top: 20px;

  @media (min-width: $lg) {
    margin-top: 40px;
  }

  &:first-child {
    margin-top: 0;
  }
}

legend {
  font: 300 1.5rem /  1 $fontFamily;
  margin-bottom: 20px;
  display: block;
}


.max-container {
  position: relative;
}

.filter-sidebar {
  .mobile-sibar-manager {display: none;}
  @media (max-width: $lg - 1) {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: 9999999;
    background-color: #fff;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 50px;

    .mobile-sibar-manager {
      background-color: $themeColor;
      color: #fff;
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      padding: 5px 0;
      top: 0;
      left: 0;
      font-size: 1rem;
      img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%; right: 30px;
        transform: translateY(-50%);
      }
    }
  }
}

.overflow-visible {
  overflow: visible !important;
}

.collection {
  font: 300 1rem / 1.3 $fontFamily;
}

.filter-colors {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  width: 150px;
  li {
    width: 65px;

  }
}




// video

.video-inner {
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  max-width: 100%;
  iframe {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    z-index: 2;
  }

  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    min-width: 100%;
    max-width: unset;
    min-height: 100%;
    z-index: 3;
    cursor: pointer;

  }

  .play {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
    z-index: 4;
    background: url(img/icons/play.svg) no-repeat center / cover;
    width: 90px;
    height: 90px;
    @media (min-width: $lg) {
      width: 100px;
      height: 100px;
    }

    @media (min-width: $xl + 200) {
      width: 150px;
      height: 150px;
    }
  }
}

.pic-wrapper--about-brand {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 64.3%;


  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
  }
}

.about-content {

  @media (min-width: $md) {
    margin-top: 60px;
  }
  @media (min-width: $xl + 200) {
    margin-top: 100px;
  }
}

.about-text {

  @media (max-width: $md - 1) {
    @include container();
  }


  padding-top: 30px !important;
  padding-bottom: 20px !important;
  @media (min-width: $md) {
    padding-right: 10%;
    padding-top: 0 !important;
  }



  p {
    padding-bottom: 25px;
    font-weight: 300;
    line-height: 1.5;

  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    @media (min-width: $lg) {
      font-size: 2.25rem;
      margin-bottom: 40px;
    }
  }
}
