@mixin container() {
  width: 100%;
  padding: 0 20px;
  max-width: 100% !important;
  @media (min-width: $sm) {
    padding: 0 30px;
  }

  @media (min-width: $lg) {
    padding: 0 50px;
  }

  @media (min-width: $xl + 200) {
    padding: 0 100px;
  }

  //@media (min-width: $xl + 400) {
  //  padding: 0;
  //  max-width: 1440px;
  //}
}

@mixin fluidMobile () {
  @media (max-width: $md - 1) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    max-width: 100% !important;
    overflow: hidden;
    .row {
      margin-right: 0;
      margin-left: 0;;
      width: 100%;

      & > .col-6, .col-12 {
        padding: 0;
      }
    }
  }
}

@mixin maxContainer () {
  @media (min-width: $xxl) {
    padding: 0;
    width: calc(100% - 380px);
  }

  @media (min-width: $xxl + 200) {
    padding: 0;
    width: calc(100% - 380px);
  }
}

@mixin containerReset() {
  padding-left: 0;
  padding-right: 0;
  max-width: unset;
}
