$fontFamily: "ProximaNova", sans-serif;
$fontFamilyPrimary: "Philosopher", sans-serif;


html {
  font-size: 16px;
}
body {
  font: 400 1rem / 1.2 $fontFamily;
}

h1 {
  font: 700 1.5rem / 1.38 $fontFamilyPrimary;
  span {
    font-size: 1.5em;
  }

  @media (min-width: $lg) {
    font-size: 3rem;
  }

  &~ p {
    font-size: 400 1.4rem / 1 $fontFamily;
  }
}

h2 {
  font: 400 1.5rem / 1 $fontFamilyPrimary;
  @media (min-width: $md) {
    font-size: 2.5rem;
  }

  @media (min-width: $xl) {
    font-size: 3rem;
  }

  @media (min-width: $xxl + 100) {
    font-size: 4.5rem;
  }
}