

.container {
  @include container();
}

.index-page {
  .container {
    @media (min-width: 360px) {
      padding: 0 30px;
    }

    @media (min-width: $md) {
      max-width: unset;
    }

    @media (min-width: $lg) {
      padding: 0 80px;
    }

    @media (min-width: 1441px) {
      padding: 0 100px;
      max-width: unset;
    }

    @media (min-width: $xxl  + 200) {
      max-width: 1730px !important;
      padding: 0;
    }
  }
}

.fluid-mobile {
  @include fluidMobile();
}

.max-container {
  @include maxContainer();
}
