
@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/proxima-nova/300/ProximaNova-Light.eot');
  src: url('./fonts/proxima-nova/300/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/proxima-nova/300/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
  url('./fonts/proxima-nova/300/ProximaNova-Light.ttf') format('truetype'),
  url('./fonts/proxima-nova/300/ProximaNova-Light.woff') format('woff'),
  url('./fonts/proxima-nova/300/ProximaNova-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/proxima-nova/400/ProximaNova-Regular.eot');
  src: url('./fonts/proxima-nova/400/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/proxima-nova/400/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
  url('./fonts/proxima-nova/400/ProximaNova-Regular.ttf') format('truetype'),
  url('./fonts/proxima-nova/400/ProximaNova-Regular.woff') format('woff'),
  url('./fonts/proxima-nova/400/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/proxima-nova/700/ProximaNova-Bold.eot');
  src: url('./fonts/proxima-nova/700/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/proxima-nova/700/ProximaNova-Bold.svg#ProximaNova-Light') format('svg'),
  url('./fonts/proxima-nova/700/ProximaNova-Bold.ttf') format('truetype'),
  url('./fonts/proxima-nova/700/ProximaNova-Bold.woff') format('woff'),
  url('./fonts/proxima-nova/700/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Philosopher';
  src: url('./fonts/Philosopher/400/Philosopher.eot');
  src: url('./fonts/Philosopher/400/Philosopher.eot#iefix') format('embedded-opentype'),
  url('./fonts/Philosopher/400/Philosopher.svg#Philosopher') format('svg'),
  url('./fonts/Philosopher/400/Philosopher.ttf') format('truetype'),
  url('./fonts/Philosopher/400/Philosopher.woff') format('woff'),
  url('./fonts/Philosopher/400/Philosopher.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Philosopher';
  src: url('./fonts/Philosopher/700/Philosopher-Bold.eot');
  src: url('./fonts/Philosopher/700/Philosopher-Bold.eot#iefix') format('embedded-opentype'),
  url('./fonts/Philosopher/700/Philosopher-Bold.svg#Philosopher-Bold') format('svg'),
  url('./fonts/Philosopher/700/Philosopher-Bold.ttf') format('truetype'),
  url('./fonts/Philosopher/700/Philosopher-Bold.woff') format('woff'),
  url('./fonts/Philosopher/700/Philosopher-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

