/*
Theme Name: Natakli
Text Domain: nk
Version: 1.0
Requires at least: 4.7
Requires PHP: 5.6
Author: 404 Solution
Author URI: https://404-solution.com/
Theme URI: https://404-solution.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

//@import 'bootstrap/bootstrap';

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";

@import 'bootstrap/reboot';
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/utilities";

// base
@import "base/reset";
@import "./fonts";
@import "base/vars";
@import "base/mixins";
@import "base/typography";
@import "base/layout";

// libs
@import "./libs/slick/slick";
@import "./libs/slick/slick-theme";


// type
@import "modules/header";
@import "modules/footer";


// ui components
@import "modules/ui/ui";
@import "modules/ui/button";


// blocks
@import "modules/category";
@import "modules/collection";
@import "modules/fashion";
@import "modules/creating-style";
@import "modules/modal";
@import "modules/cart";
@import "modules/product-card";
@import "modules/form";
@import "modules/fashion-card";

// pages
@import "./pages/fashion";
@import "./pages/contact";
@import "./pages/product";



body {
  color: $themeColor;
}

.cart-button {
  display: inline-flex;
  align-items: center;

  span {
    border-radius: 50%;
    background-color: $themeColor;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 14px;
    margin-left: 3px;
  }
}


header {
  @media (min-width: $xxl) {
    .container {
      padding: 0;
      width: calc(100% - 400px);
    }
  }
}

.section {
  &--hero {
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;

    .slides {
      width: 100%;
      overflow: hidden;

      li {
        z-index: 2;

        .pic-wrapper {
          overflow: hidden;
          position: relative;
          width: 100%;
          padding-top: 157.5%;
        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          box-shadow: inset 0 -80px 70px 0px rgba(#fff, .08);
          top: 0; left: 0;
          position: absolute;
          z-index: 99;

          @media (min-width: $md) {
            display: none;
          }
        }

        @media (min-width: $md) {
          .pic-wrapper {
            padding-top: 50%;
          }
        }

        img, picture {
          z-index: -1;
          width: 100%;
          min-width: 100%;
          max-width: unset;
          min-height: 100%;
          position: absolute;
          bottom: 0;
          right: 50%;
          transform: translateX(50%);
        }
      }
    } // slides

    .offer {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(-100%);
      @media (min-width: $md) {
        top: 45%; bottom: auto;
        transform: translateY(-50%);
      }

      h1 {
        & ~ p {
          font-size: 16px;
          margin-top: 20px;
          padding-top: 25px;
          position: relative;
          display: inline-flex;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 198px;
            height: 1px;
            background-color: $themeColor;
          }

          @media (min-width: $md) {
            font-size: 1.5rem;
          }
        }
      }
    }

    // offer

    @media (min-width: $xxl) {
      .container {
        padding: 0;
        width: calc(100% - 440px);
      }
    }
  } // hero end

  &-categories {
    h2 {
      padding: 1.24em 0;
    }

    @media (max-width: $sm - 1) {
      .categories-list {
        li {
          padding: 0;
        }
      }
    }

    @media (min-width: $md) {
      text-align: right;
      h2 {
        padding: 1.056em 0;
        margin-right: 10%;
      }
    }

    .container {
      @media (min-width: 1441px) {
        width: calc(100% - 200px);
        padding: 0;
      }
    }
  } // section-categories end
}


.duality {
  margin-top: 30px;
  @media (min-width: $md) {
    margin-top: 60px;
  }

  @media (min-width: $xxl) {
    margin-top: 120px;
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.page-content {
  min-height: 70vh;
}

.products {
  &-list {
    padding-bottom: 42px;

    @media (min-width: $md) {
      padding-bottom: 60px;
    }

    @media (min-width: $lg) {
      padding-bottom: 50px;
    }

    & ~ .button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }
  }
}

.section--catalogue {
  .products {
    &-list {
      margin-top: 15px;

      li {
        @media (max-width: $lg - 1) {
          margin-bottom: 25px;
        }
      }

      @media (min-width: $md) {
        margin-top: 25px;
      }

      @media (min-width: $lg) {
        margin-top: 40px;
        li {
          padding-bottom: 40px;
        }
      }

      @media (min-width: $xl + 200) {
        width: 100%;
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;

      }
    }

    // list

    &.mw-100 {
      .products-list {
        max-width: 100%;
      }
    }
  }
}


.filter {
  margin-top: 15px;
  display: flex;
  @media (min-width: $md) {
    margin-top: 25px;
  }

  @media (min-width: $lg) {
    margin-top: 40px;
    display: flex;
    height: 100%;
    .filter-content {
      height: max-content;
      color: $themeColor;
    }
  }
}


// filter

.section--hero {
  .slides {
    @media (min-width: $lg) {
      .slick-prev {
        left: 5%;
      }

      .slick-next {
        right: 5%;
      }

      @media (max-width: $xl + 200) {
        .slick-next, .slick-prev {
          top: auto;
          bottom: 60px;
        }
      }
    }
  }
}


a:hover {
  color: inherit !important;
}

.content-page {
  max-width: 100%;
  width: 1108px;

  .breadcrumb {
    margin-top: 10px;
  }
  h1 {
    font-weight: 400;
    margin-bottom: 20px;
  }

  p, ul, ol img {
    margin-bottom: 20px;
    font-weight: 300;
  }
    @media (min-width: $lg) {
      .breadcrumb {
        margin-top: 30px;
      }

      h1 {
        margin-bottom: 42px;
      }
    }
}
