
.cart {
  width: 100%;
  &-product {
    display: flex;
    position: relative;
    max-width: 538px;

    .img-wrapper {
      width: 170px;
      min-width: 170px;

    }



    &--image {
      padding-top: 127%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        top: 50%; left: 50%;
        transform: translate(-50% , -50%);
        position: absolute;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 20px;
      padding-top: 15px;
      & > * {
        width: 100%;
      }

      h4 {
        font: 400 1.25rem / 1 $fontFamily;
        margin-bottom: 1em;
        margin-top: 0;

        @media (max-width: $sm - 1) {
          padding-right: 30px;
        }
      }

      span {
        line-height: 1;
      }

      .color {
        margin-left: 20px;
      }


    }

    @media (min-width: $sm + 100) {
      .img-wrapper  {
        width: 220px;
        min-width: 220px;
      }

      h4 {
        font-size: 1.5rem;
      }

      &--info {
        padding-left: 40px;
      }
    }
  }
}