.category {
  display: flex;
  flex-direction: column;
  &-photo {
    width: 100%;
    padding-bottom: 150%;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0; left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: auto;
      max-width: unset;
    }
  } // photo
  &-footer {
    padding: 20px  10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: color .3s;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0; left: 0;
      background-color: $themeColor;
      transition: .3s;
      z-index: -1;
      transform: translateY(calc(100% - 5px));
    }

    * {
      color: inherit;
      font: 300 1rem / 1 $fontFamily;
      margin: 0;
    }

    @media (min-width: $md) {
      padding: 10% 10px;
    }
  }
  &:hover {
    .category-footer {
      color: #fff;
      &:after {
        transform: translateY(0);
      }
    }
  }

  @media (hover: none) {
    .category-footer {
      color: #fff;
      &:after {
        transform: translateY(0);
      }
    }
  }
}

.section-categories {
  max-width: 100% !important;
  overflow: hidden;

  @media (max-width: $sm - 1) {
    h2 {
      padding-left: 30px;
    }
  }
  .container {
    @media (max-width: $sm - 1) {
      padding: 0 !important;
    }
  }
}