.container {
  &.mobile-100 {
    @media (max-width: $md - 1) {
      width: 100%;
      padding: 0;
      max-width: 100%;
    }
  }
}


.duality {
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}


.collection {
  position: relative;

  h2 {
    margin-bottom: 20px;
    padding-left: 20px;
    @media (min-width: $sm) {
      padding-left: calc((100vw - 540px) / 2);
    }

  }

  @media (min-width: $md) {
    h2 {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-85%);
      z-index: 9999;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &--large {
      margin-top: 30px;
      padding-bottom: 30px;

      @media (min-width: $xxl - 150) {
        margin-right: 5%;
      }

      .collection-content {
        width: 100%;
        //max-width: 564px;
        position: relative;
        padding-right: 15%;
        @media (min-width: $md) {
          width: 80%;
        }

        @media (min-width: $xl + 200) {
          padding-right: 0;
          width: 80%;
        }

        @media (min-width: $xl + 350px) {
          width: 83%;
        }

        @media (min-width: $xxl) {
          width: 85%;
        }

        @media (min-width: $xxl + 100) {
          width: 87%;
        }

        figure {
          background-color: $themeColor;
          width: 100%;
          margin: 0;
          display: flex;

          figcaption {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(93%);
            display: block;
            width: 100%;
            min-height: 20px;

            @media (min-width: $sm - 100) {
              transform: translateX(95%);
            }

            @media (min-width: $md) {
              transform: translateX(105%);
            }

            @media (min-width: $lg) {
              transform: translateX(100%);
            }

            @media (min-width: $xl) {
              transform: translateX(98%);
            }

            @media (min-width: $xl + 200) {
              transform: translateX(110%);
            }

            @media (min-width: $xxl) {
              transform: translateX(110%);
            }

            span {
              padding-top: 10px;
              transform: rotate(-90deg);
              position: absolute;
              width: auto;
              transform-origin: -10px -6px;
              left: 0;
              top: 0;
              font-size: .875rem;
              font-weight: 300;
              @media (min-width: $sm) {
                font-size: 1rem;
              }

              @media (min-width: $md) {
                font-size: 1.2rem;
              }

              @media (min-width: $xl + 200) {
                font-size: 1.5rem;
              }
            }
          }

          @media (min-width: $xl + 200) {
            margin-left: 5%;
            width: 90%;
          }

          .pic-wrapper {
            padding-top: 132%;
            width: 100%;
            overflow: hidden;
            position: relative;
            transform: translate(20px, 20px);
            @media (min-width: $sm - 100) {
              transform: translate(40px, 40px);
            }

            @media (min-width: $md) {
              transform: translate(50px, 50px);
            }

            @media (min-width: $xl + 200) {
              transform: translate(60px, 60px);
            }

            @media (min-width: $xxl) {
              transform: translate(70px, 70px);
            }

            img {
              min-width: 100%;
              max-width: unset;
              min-height: 100%;
              width: auto;
              height: auto;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          // pic wrapper

          .button {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-60%, calc(50% + 20px));

            @media (min-width: $sm - 100) {
              transform: translate(-60%, calc(100% + 20px));
            }
            @media (min-width: $md) {
              transform: translate(50%, calc(100% + 20px));
            }

            @media (min-width: $lg) {
              transform: translate(calc(50% - 25px), calc(100% + 20px));
            }

            @media (min-width: $lg) {
              transform: translate(calc(50% - 40px), calc(100% + 20px));

            }

            @media (min-width: $xl + 200) {
              transform: translate(calc(50%), calc(100% + 20px));

            }

            @media (min-width: $xxl) {
              transform: translate(50%, calc(100% + 40px));

            }
          }
        }
      }
    }

    &--wide {
      .collection-picture {
        padding-top: 52.5%;
        position: relative;
        overflow: hidden;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          min-height: 100%;
          min-width: 100%;
          max-width: unset;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        & ~ .button {
          margin-left: auto;

        }

        @media (min-width: $md) {
          & ~ .button {
            margin-left: 0;
            transform: translate(-45%, -50%);
          }
        }
      }

      .bg-text {
        width: 70%;
        max-width: 260px;
        display: inline-flex;
        flex-wrap: wrap;

        $padding: .527em;

        @media (min-width: $sm - 100) {
          max-width: 360px;
        }

        @media (min-width: $md) {
          width: 80%;
          max-width: unset;
        }

        span {
          display: inline-block;
          background-color: $themeColor;
          color: #fff;
          line-height: 1.5;
          padding-right: $padding;
          font-size: 1rem;

          &:first-child {
            width: 90%;
            text-align: right;
            padding-left: 5px;
            white-space: nowrap;
          }

          &:last-child {
            margin-left: auto;
            padding-left: $padding;
          }

          @media (min-width: $sm - 100) {
            font-size: 1.4rem;
          }

          @media (min-width: $lg) {
            font-size: 1.7rem;
            &:first-child {
              width: 90%;
            }
          }

          @media (min-width: $xl + 300) {
            font-size: 2.1rem;
            &:first-child {
              width: 80%;
              max-width: 450px;
            }
          }
          @media (min-width: $xxl + 200) {
            font-size: 2.25rem;
          }

        }
      }

      $btnMargin: 30px;

      .collection-item--text {
        width: 45%;
        @media (min-width: $md) {
          margin-bottom: 5%;
        }

        @media (min-width: $lg) {
          margin-bottom: 5%;
        }

        @media (min-width: $xxl) {
          width: 50%;
        }
        @media (max-width: $md - 1) {
          position: absolute;
          top: auto;
          left: 0;
          bottom: calc(1em + #{$btnMargin});
          z-index: 999;
          width: 100%;
          transform: translateY(-100%);
        }
      }

      .collection-content {
        width: 100%;

        &:before {
          display: none;
        }

        .collection-picture {
          @media (max-width: $md - 1) {
            & ~ .button {
              margin-right: auto;
              margin-top: $btnMargin;
            }
          }
        }

        @media (min-width: $md) {
          width: 60%;
          margin-left: -5%;
        }
        @media (min-width: $lg) {
          //transform: translateX(-5%);
          width: 50%;
          margin-left: -5%;
        }
      }
    }

    // wide
  }
}


.collection-wrapper {

  &:nth-child(2n + 1) {
    @media (min-width: $xl + 200) {

    }
  }

  &:nth-child(2n) {
    margin-top: 50px;
    @media (min-width: $md) {
      margin-top: 0;
      padding-top: 80px;
      @media (max-width: $md  + 30) {
        .collection-item--large {
          margin-right: 30px;
        }
      }
      .collection-item--large {
        justify-content: center;

      }
    }

    @media (min-width: $lg) {
      padding-top: 100px;
    }

    @media (min-width: $xl) {
      padding-top: 120px;
    }

    @media (min-width: $xl + 200) {
      padding-top: 150px;
      .collection-item--large {
        justify-content: center;
      }
    }

    @media (min-width: $xxl) {
      padding-top: 180px;
      .collection-item--large {
        margin-right: 50px;
      }
    }
  }
}


.no-padding-mobile {
  @media (max-width: $md - 1) {
    padding: 0;
  }
}