@mixin left() {
  display: flex;
  justify-content: flex-start;

  .button {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    transform: translate(30%, -50%);
  }

  p {
    bottom: 30%;
    padding: 0.812rem;
    @media (min-width: 420px) {
      font-size: 1.3rem;
      bottom: 25%;
    }
  }
}
@mixin right() {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-right: auto;
    margin-left: 0;
    margin-top: 0;
    transform: translate(-30%, -50%);
  }

  p {
    bottom: 30%;
    right: auto;
    left: 0;
    transform: translateX(-25.3%);
    padding: 0.812rem;

    @media (min-width: 420px) {
      font-size: 1.3rem;
      bottom: 25%;
    }

  }

}

@mixin _2n() {
  position: relative;
  z-index: 2;
}

@mixin _3n() {
  justify-content: flex-end;
  transform: translateY(-31.17%);

  position: relative;
  z-index: 1;

  &:before {
    content: '';
    width: 138.4%;
    height: 30.7%;
    display: block;
    background: url(img/create-style/dots-1.svg) no-repeat center / contain;
    position: absolute;
    top: 0; left: 0;
    transform: translate(-10.15%, -50%);
    z-index: -1;
  }
}

@mixin _4n() {
  justify-content: flex-end;
  transform: translateY(29.7%);
  z-index: 2;
  position: relative;

  &:before {
    content: '';
    width: calc(100% / 7);
    height: 30.7%;

    position: absolute;
    top: 0; right: 0;
    transform: translateY(-100% - 18.08%);
    background: url(img/create-style/dots-2.svg) no-repeat center / contain;

  }
}

@mixin _5n() {
  transform: translateY(-31.17% + 23.6%);
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    width: 138.4%;
    height: 30.7%;
    display: block;
    background: url(img/create-style/dots-1.svg) no-repeat center / contain;
    position: absolute;
    top: 0; right: 0;
    transform: translate(47.23%, -45%);
  }
}


.section-creating-style {
  max-width: 100%;
  overflow: hidden;
  margin-top: 57px;
  @media (min-width: $md) {
    margin-top: 87px;
  }

  @media (min-width: $xl + 200) {
    margin-top: 120px;
  }

  @media (min-width: $xxl) {
    margin-top: 145px;
  }

  .container {
    @media (max-width: $sm - 1) {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  h2 {
    display: flex;
    align-items: center;

    @media (min-width: $sm) {
      padding-right: 1em;
      margin-top: 20%;

    }

    @media (min-width: $xxl + 100) {
      font-size: 4.5rem;
    }

    &:before {
      content: '';
      width: 1.59em;
      height: .29em;
      background-color: $themeColor;
      margin-right: .5em;
    }
  }
}


.creating-style--wrapper {
  @media (max-width: $sm - 1) {
    h2 {
      margin-bottom: 35px;
      padding-left: 30px;
      &:before {
        display: none;
      }
    }
  }
  .creating-style-block--wrapper {
    @media (max-width: $sm - 1) {
      &:nth-child(2n) {
        @include left();
      }

      &:nth-child(2n + 1) {
        @include right();
      }
    }



    @media (min-width: $sm) {
      display: flex;

      &:nth-child(2) {
        @include _2n();
      }

      &:nth-child(3) {
        @include _3n();
      }

      &:nth-child(4) {
        @include _4n();
      }

      &:nth-child(5) {
        @include _5n();
      }

      &:nth-child(6) {
        @include _4n();
        margin-top: 40px;
      }

      &:nth-child(7) {
        @include _2n();

      }

      &:nth-child(8) {
        @include _4n();
        margin-top: 40px;
      }
    }
  }
}


.creating-style-block {
  position: relative;

  .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
  }

  p {
    background-color: $themeColor;
    font: 700 1rem / 1 $fontFamily;
    color: #fff;
    text-align: center;
    padding: 1.25em 1em;

    position: absolute;
    bottom: 23.6%; right: 0;
    transform: translateX(25.3%);

    min-width: 84.5%;

    @media (min-width: $md) {
      font-size: 1.3rem;
    }

    @media (min-width: $lg) {
      font-size: 1.6rem;
    }

    @media (min-width: $xl) {
      font-size: 1.8rem;
    }

    @media (min-width: $xl + 200) {
      font-size: 2rem;
    }

    @media (min-width: $xxl + 100) {
      font-size: 2.25rem;
    }
  }

  width: 84%;

  .photo {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 106%;
    display: block;
    background: #f2f2f2;
    object-fit: contain;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: auto;
      object-fit: contain;

      transform: translate(-50%, 0);

      max-width: unset;
    }
  }
}


.creating-style-block--wrapper {
  @media (max-width: $sm - 1) {
    &:nth-child(2n) {
      @include left();
    }

    &:nth-child(2n + 1) {
      @include right();
    }
  }
}

.section-creating-style {
  .container {

    @media (min-width: $sm) and (max-width: $lg - 1) {
      padding: {
        left: 80px;
        right: 80px;
      };
    }
  }

}
