$top: 80px;

.fashion-slider {
  position: relative;
  z-index: 999999;

  li {
    width: 260px;
    position: relative;
    height: auto;
    div {
      width: 100%;
      position: relative;
      overflow: hidden;
      padding-top: 133%;


      img {
        position: absolute;
        top: 50%;
        left: 0;
        width: calc(100% - 30px);
        height: auto;
        transform: translate(0, -50%);
      }
    }

    @media (min-width: $xl) {
      width: 360px;
      div {
        padding-top: 190%;
      }
    }
  }

  .slick-prev, .slick-next {
    display: block;
    width: auto;
    height: auto;
    bottom: 0;
    top: auto;
  }

  .slick-prev {
    transform: translateX(30px);
  }

  .slick-next {
    transform: translateX(-30px);
  }

  @media (min-width: $md) {
    .slick-prev {
      left: auto;
      right: 94px;

      transform: translate(-100%, 100%);
      bottom: 0;
      top: auto;
      &:before {
        content: url(img/icons/white-slider-left.svg);

      }
    }

    .slick-next {
      right: 94px;
      bottom: 0;
      transform: translate(0, 100%);
      top: auto;
      &:before {
        content: url(img/icons/white-slider-right.svg);
      }
    }

    .slick-prev, .slick-next {
      bottom: -55px;

      @media (min-width: $lg) {
       bottom: -30px;
      }

      @media (min-width: $xl + 200) {
        bottom: -5px;
      }

      @media (min-width: $xxl + 100) {
        bottom: -105px;
      }
    }
  }
}

.fashions-of-collection {
  //margin-bottom: 100px;
  max-width: 100%;
  overflow: hidden;

  @media (min-width: $md) {
    margin-top: 50px;
  }

  @media (min-width: $xl + 200) {
    margin-top: 100px;
  }
  .wrapper {
    position: relative;
    @media (min-width: $xl) {
      padding-bottom: 225px;
    }
  }



  .overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    img {
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: unset;
      width: auto;
      max-width: unset;

      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50% , -50%);
    }
  }
}

.skew-block {


  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 140px;
  background-color: $themeColor;
  z-index: 99999;
  &:before {
    content: '';
    width: 98px;
    height: 100%;
    left: 0; top: 0;
    transform: translateX(-50%) skew(-35deg);
    position: absolute;
    z-index: 9999;
    background: $themeColor;

  }

  .slides-counter {
    display: none;

    #current {
      font-weight: 700;
    }
  }

  @media (min-width: $md) {
    bottom: 0;

    &:before {
      width: 35%;
    }

    .slides-counter {
      display: block;
      position: absolute;
      left: 0;
      color: #fff;
      bottom: 40px;
      z-index: 99999;
      &:before {
        content: '';
        width: 1500px;
        height: 1px;
        z-index: inherit;
        background-color: #fff;
        bottom: -10px;
        left: 0;
        transform: translateX(-92%);
        position: absolute;
      }

      @media (min-width: $xl + 200) {
        bottom: 65px;
      }
    }

  }

  @media (min-width: $lg) {
    padding-top: 14.3%;
    min-height: 320px;
    bottom: 0;
    transform: translateY(-5%);

    &:before {
      width: 15%;
    }


  }

  @media (min-width: $xl + 200) {
    transform: translateY(-25%);
    height: 300px;
  }


  @media (min-width: $md) {
    width: 77%;
  }
}

.fashions-of-collection {
  h2 {

    margin-bottom: 30px;
    font-size: 1.5rem;

    div {
      justify-content: flex-start;
      flex-direction: column;
    }

    span {
      padding-left: 20px;

      &:first-child,
      &:last-child {
        padding-left: 20px;
        text-align: left;
        width: max-content;
        font-size: inherit !important;
        line-height: 1.2;
        @media (min-width: $sm - 100) {
          padding-left: 30px;
        }
        @media (min-width: $sm) {
          font-size: 1.8rem;
        }
        @media (min-width: $md) {
          font-size: 2rem;
        }
      }

      &:first-child {
        padding-top: 7px;
        padding-right: 20px;
      }
      &:last-child {
        text-align: left;
        margin-left: 0;
        margin-top: -1px;
        padding-bottom: 7px;
        padding-right: 52px;
      }
    }
  }
}

@media (min-width: $md) {

  $top: 130px;
  .fashions-of-collection {
    h2 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(0);
      font-size: 1.7rem;
    }
    .wrapper {
      padding: $top 0;

    }
  }
}

@media (min-width: $lg) {
  $top: 120px;
  .fashion-slider {
    transform: translateY(0);
  }

  .fashions-of-collection {
    h2 {
      font-size: 1.7rem;
    }
    .wrapper {
      padding: $top 0;
    }
  }
}

@media (min-width: $xl) {
  .fashions-of-collection {
    h2 {
      font-size: 3rem ;
    }
  }

}

@media (min-width: $xl + 200) {
  $top: 180px;

  h2 {
    font-size: 4rem;
  }

  .fashions-of-collection {
    .wrapper {
      padding: $top 0;
    }
  }
}

@media (min-width: $xxl + 100) {
  $top: 230px;

  h2 {
    font-size: 4.5rem !important;
    margin-top: 2px;
  }
  .wrapper {
    padding: $top 0 !important;

  }
}
