.fashions-card {
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  position: relative;
  z-index: 9;
  display: block;
  transition: .3s;
  box-shadow: 4px 4px 15px rgba(#000, 0);

  @media (hover: hover) {
    &:hover {
      box-shadow: 4px 4px 15px rgba(#000, .25);
    }
  }

  &--content {
    padding-bottom: 20px;
  }

  .sale {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 99;
  }
  &--cover {
    width: 100%;
    padding-top: 114.6%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      top: 50%;
      left: 0;
      position: absolute;
      transform: translateY(-50%);
    }

    @media (min-width: $md) {
      padding-top: 117.6%;
    }
  }

  &--content {

    h3 {
      font: 700 14px / 1.1 $fontFamily;
      margin-top: 10px;
      margin-bottom: 7px;
      @media (min-width: $sm) {
        font-size: 1rem;
        margin-bottom: .9rem;

      }
    }

    .price-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      font-size: .875rem !important;
      max-width: 250px;
      margin: 0 auto;
      //padding: 0 10px;

      .price {
        font-size: .875rem;
        font-weight: 400;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        text-align: left;
        padding-right: 0;
        min-width: max-content;

        &--old {
          font-size: .714em;
          width: auto;
          margin-right: auto;
          margin-left: 0;
          padding-right: 0;
          //margin-right: 10px;

          &+.price {
            width: auto;
            font-weight: 700;
            margin-right: 0;
          }
        }
      }


      @media (max-width: 350px) {
        flex-direction: column;
        align-items: flex-start;


        .price {
          margin-left: 0;
          margin-right: auto;
          text-align: left;

          &--old {
            margin-bottom: 5px;
          }
        }
      }
    }



    @media (min-width: $sm) {
      .price-block {
        font-size: 1rem;

        .price {
          font-size: 1rem;
          text-align: center;
          &--old {
            font-size: 1rem;
            &+price {
              text-align: right;
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }



    @media (min-width: $sm) {
      h3 {
        text-align: center;
      }
    }

    @media (max-width: $sm - 1) {
      padding-left: 20px;
      padding-right: 20px
    }

    @media (min-width: $lg - 1) {
      padding-left: 15px;
      padding-right: 15px
    }


  } // content
}
