footer {
  margin-top: 50px;
  .border-inner {
    border-top: 1px solid $themeColor;
    border-bottom: 1px solid $themeColor;
  }

  .footer-wrapper {
    padding: 30px 0;
  }

  @media (min-width: $lg) {
    margin-top: 120px;
    .border-inner {
      border: none;
    }
    .footer-wrapper {
      border-top: 1px solid $themeColor;
      border-bottom: 1px solid $themeColor;
      padding: 50px 0;
    }
  }


  h4, h5 {
    font: 700 1.5rem / 1 $fontFamily;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 5px
  }

  a, span {
    font: 300 1rem / 1 $fontFamily;
    padding: .5em 0;
    display: block;

    @media (max-width: 359px) {
      font-size: 14px;
      padding: .3em 0;

    }
  }

  a {
    font-weight: 500;
  }

  ul {

    &:not(.social) {
      li {
        font: 300 1rem / 1 $fontFamily;
        padding: .7em 0;

        a {
          padding: 0;
        }
      }
    }
  }
}


.payment {
  h5 {
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    //max-width: 110%;
    height: auto;
    transform: translateX(-10%);
  }
}


.footer-inner {
  .footer-col {
    display: inline-block;
    width: 50%;
    float: left;

    h4 {
      margin-bottom: 20px;
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-top: 50px;
    }

    &:nth-child(4) {
      float: none;
      width: 100%;
      margin-top: 50px;

      @media (min-width: $sm) {
        float: left;
        width: 50%;
      }
    }

    // 4

  }

  @media (min-width: $sm) {
    .footer-col {
      width: 32%;
      &:nth-child(3), &:nth-child(4) {
        margin-top: 0;
      }
    }
  }
  // sm

  @media (min-width: $lg) {
    display: flex;
    justify-content: space-between;
    .footer-col {
      float: none;
      width: 25%;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 4;
      }

      &:nth-child(4) {
        width: 25%;
        order: 1;
      }
    }

  }
  // lg

  @media (min-width: $xl + 200) {
    padding: 0 5%;
  }
}

.copyright-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  span, a {
    color: $themeColor;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  a {
    margin-left: 5px;
  }

  div {
    &:nth-child(1) {
      span {
        font-size: 1rem;
      }
    }

    &:nth-child(2) {
      span {
        margin-top: 25px;
        font-size: 14px;
      }
    }
  }

  @media (min-width: $sm) {
    padding-top: 43px;
    margin-bottom: 30px;
    span {
      text-align: left;
      justify-content: flex-start;
    }


    div {
      &:nth-child(2) {
        span {
          text-align: right;
          margin-top: 0;

          justify-content: flex-end;
        }
      }
    }
  }
}




