@mixin input () {
  border: 1px solid $themeColor;
  font: 300 1rem / 1 $fontFamily;
  padding: 1em 1.25em;
  width: 100%;
  display: block;
  &.error {
    margin-bottom: 5px;
    border-color: $danger;
  }

  &:focus {
    outline: none;
  }
}

input, textarea {
  @include input();
}

input {
  height: 50px;
  transition: .2s;

}


.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 1em !important;
  b {
    display: none;
  }
  &:before {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    content: '';
    width: 10px;
    height: 17px;
    transition: .2s;
    background: url(img/icons/select.svg) no-repeat center / contain;
  }
}

.select2-container--open {
   .select2-selection__arrow {
    &:before {
      transform: translate(0, -50%) rotate(180deg) !important;
    }
  }
}

.select2-results__options {
  border: none !important;
}

.select2-results__option {
  padding-left: 1rem !important;
  font-weight: 300 !important;

}

.select2-dropdown {
  border: 1px solid $themeColor !important;
  border-top-color: transparent !important;
  border-radius: 0 !important;
  margin-left: -1px !important;
  margin-top: -2px !important;
}

.select2-results__option {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent !important;
}

.select2-container {
  width: 100% !important;
  border: 1px solid $themeColor;
  height: 51px !important;


  .select2-selection__rendered {
    display: flex !important;
    padding-left: 1em !important;
    align-items: center;
  }
  .select2-selection__rendered, .select2-selection {
    border: none !important;
    height: 49px;
    display: block;
  }

  * {
    &:focus {
      outline: none !important;
    }
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $themeColor !important;
}

.select2-search {
  display: none !important;
}

textarea {
  resize: none;
  height: 125px;
}

form {
  .field-wrapper {
    position: relative;
  }

  span.error {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $danger;
    font-size: 12px;
    transform: translateY(calc(100% + 5px));

  }
}

