header {
  position: relative;
  background-color: #fff;
  z-index: 999999999;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background-color: #fff;
    z-index: 999;
  }
  .submenu {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $themeColor;
    width: 100%;
    z-index: 999999;
    color: #fff;
    transition: .4s ease;

    transform: translate(-100%, 100%);
    @media (min-width: $lg) {
      transition: .4s linear;

      transform: translateY(-100%);
      z-index: 999;
    }
    &.opened {
      transform: translate(0, 100%);
    }
    padding:  {
      top: 0; bottom: 11px;
      left: 40px; right: 20px;
    };

    * {
      color: inherit;
    }

    &-block {
      margin-top: 30px;
      padding-right: 25px;
      h3 {
        margin-top: 0;
        margin-bottom: 25px;
        font: 700 1.5rem / 1 $fontFamily;
      }
      ul {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        li {
          margin-bottom: 20px;
          display: inline-block;
          width: auto;
        }
        @media (min-width: $sm) {
          max-width: 170px;
        }
      }

      &-inner {
        &:nth-child(2n) {
          ul {
            li {
              @media (min-width: $xl) {
                padding-left: 15px;
              }
            }
          }
        }
      }
    } // block

    &-footer {
      margin-top: 20px;
    }

    @media (min-width: 359.1px) {
      padding: {
        left: 60px; right: 30px;
      };
    } // 351

    @media (min-width: 420px) {
      &-block {
        h3 {
          margin-bottom: 30px;
        }
      }
    }

    @media (min-width: $sm) {
      &-block {
        max-width: 200px;
        h3 {
          margin-bottom: 40px;
        }
      }
    } // sm

    @media (min-width: $md) {
      padding: 45px 0 20px 0;
      &-wrapper {
        padding: 0 10%;
      }
    } // md

    @media (min-width: $lg) {
      padding: 30px 0 45px 0;
      .header-banner {
        position: relative;
        padding-top: 61.85%;
        img {
          position: absolute;
          top: 0; left: 50%;
          width: 100%;
          height: auto;
          transform: translateX(-50%);
        }
      }
      &-wrapper {
        padding-left: 7%;
        padding-right: 4.8%;
      }

      &-block {
        h3 {
          padding-top: 14px;
        }
      }
    } // lg

    @media (min-width: $xl + 200) {
      &-wrapper {
        padding-left: 10%;
      }
    }// xl + 200

    @media (min-width: $xl + 300) {
      &-nav {
        padding-right: 5%;
      }
    } // xl + 300

    @media (min-width: $xl + 400) {
      &-wrapper {
        padding-left: 15%;
      }
    }// xl + 400

    @media (min-width: $xl + 500) {
      &-wrapper {
        padding-left: 20%;
      }

      &-nav {
        padding-right: 10%;
      }


    } // xl + 500


  } // submenu
  nav {
    padding: 25px 0;
    position: relative;
    z-index: 99999;

    @media (min-width: $md) {
      padding: 30px 0;
    }

    @media (min-width: $lg) {
      padding: 0;
    }

    .logo {
      display: block;
      width: 109px;
      max-width: 100%;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        top: 50%; left: 0;
        transform: translateY(-50%);
      }

      @media (min-width: $sm) {
        width: 160px;
      }

      @media (min-width: $lg) {
        width: 200px;
      }

      @media (min-width: $xxl) {
        width: 230px;
      }
    }
  }
}
.menu {
  //display: flex;
  //align-items: center;
  //flex-wrap: wrap;
  //justify-content: center;
  @media (max-width: $lg - 1) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $themeColor;
    z-index: 999;
    transform: translate(-100%, 100%);
    transition: .4s ease;


    .lang-list {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      //margin-top: 40px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 40px auto 20px auto;
      padding-top: 30px;
      padding-bottom: 30px;
      li {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px;

      }
    }
    &.opened {
      transform: translate(0, 100%);
    }
  }
}

.main-menu {
  li {
    transition: .3s;
  }
  @media (min-width: $lg) {
    padding-left: 40px;
    li {
      padding: 0;
      @media (hover: hover) {
        &:hover {
          background-color: $themeColor;
          color: #fff;
        }
      }
      a {
        font: 300 .8rem / 1 $fontFamily;
        text-transform: uppercase;
        padding: 50px 15px 50px 15px;
        display: block;
        color: inherit !important;
        &:hover {
          color: inherit !important;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  } // lg

  @media (min-width: $xl) {
    padding-left: 60px;
    li {
      a {
        font-size: 1rem;
        padding: 50px 25px;
      }
    }
  }

  @media (min-width: $xl + 200) {
    padding-left: 80px;
  }
}

.project-actions {
  margin-right: 20px;
  button {
    display: inline-flex;
    align-items: center;
  }

  li {
    min-width: max-content;
    display: inline-flex;
    align-items: center;
    &:first-of-type {
      margin-right: 20px;
    }

  }

  @media (min-width: 360px) {
    margin-right: 37px;
    li {
      &:first-child {
        margin-right: 37px;
      }
    }
  }

  @media (min-width: $md) {
    margin-right: 43px;
    li {
      &:first-child {
        margin-right: 43px;
      }
    }
  }
}


.hamburger {
  width: 24px;
  height: 16px;
  position: relative;
  .line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $themeColor;
    transition: .2s;

    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
      width: 70%;
    }

    &:nth-child(3) {
      bottom: 0;
      top: auto;
    }
  }

  &.opened {
    .line {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        top: 50%; left: 50%;
        transform: translate(-50% , -50%) rotate(45deg);
      }
      &:nth-child(3) {
        top: 50%; left: 50%;
        bottom: auto;
        transform: translate(-50% , -50%) rotate(-45deg);
      }
    }
  }
}
