.close {
  position: relative;
  img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999999999999;
  background-color: rgba(#000 , .3);
  width: 100%;
  height: 100vh;
  display: none;
  will-change: opacity;
  .close {
    z-index: 999;
  }

  aside {
    position: absolute;
    top: 0; right: 0;
    min-height: 100vh;
    background-color: #fff;
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    max-height: 100%;
    overflow: auto;
    transition: .4s;
    will-change: transform;
    transform: translateX(100%);
    padding-bottom: 40px;
    &.opened {
      transform: translateX(0);
    }

    @media (max-width: $sm - 1 + 100) {
      transition: .3s;
      height: 100vh;
    }
  }

  .modal {
    &-header {
      .close {
        height: 50px;
        width: 50px;
        background-color: $themeColor;
        color: #fff;

        margin-left: auto;
        display: block;
      }
    }

    .title {
      padding-left: 30px;
      h2 {
       font-size: 1.5rem;

        &~ p {
          display: none;
        }
      }

      @media (min-width: $md) {
        padding-left: 50px;
        h2 {
          font-size: 1.8rem;
        }

      }

      @media (min-width: $lg) {
        h2 {
          font-size: 2rem;
          &~p {
            display: block;
            font: 300 12px / 1 $fontFamily;
            color: $lightGrey;
            margin-top: 1em;
          }
        }
      }

      @media (min-width: $xl + 200) {
        h2 {
          font-size: 2.25rem;
        }
      }
    }

    .products-list {
      margin-top: 20px;
      padding-bottom: 0;
      @media (min-width: $lg) {
        margin-top: 50px;
      }
      li {
        padding-left: 10px;
        position: relative;
        padding-bottom: 20px;
        .sale {
          padding: 15px 8px;
          height: 50px;
          min-width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0; right: 0;
          background: $themeColor;
          color: #fff;

          @media (max-width: 350px) {
            transform: translateY(-70%);
          }

          @media (max-width: $sm - 1) {
            height: 25px;
            width: 30px;
            min-width: 25px;
            font-size: 10px;
            padding: 7px 4px;
          }
        }


        @media (min-width: $lg) {
          padding-left: 50px;
        }

        .close {
          position: absolute;
          top: 0; left: 0;
          width: 30px;
          height: 30px;
          background-color: $themeColor;
          color: #fff;
        }
      }


    } // products-list


    &-footer, .order-details {
      padding: 0 30px 60px 30px;
      @media (min-width: $sm + 100) {
        padding: 0 50px;
      }

      &>img {
        display: none;
        margin-left: auto;
        margin-bottom: 40px;

        @media (min-width: $md) {
          display: block;
        }
      }

      .total-price {
        &>.col-6 {
          margin-bottom: 5px;
          &:nth-child(2n) {
            text-align: right;
          }
        }

        &>.col-12 {
          margin-top: 15px;
          .row {
            font-weight: 700;
            .col-6 {
              &:nth-child(2n) {
                text-align: right;
              }
            }
          }
        }

        @media (min-width: $sm + 100) {
          font-size: 1.5rem;
          * {
            font-size: 1em;
          }
        }
        @media (min-width: $md) {
          //padding-top: 50px;
          &> .col-6 {
            margin-bottom: 10px;
          }
          &>.col-12 {
            margin-top: 30px;
          }
        }

      } // total price


      .button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        font-size: 1rem;
        padding: 1em 3.18em;

        &:before {
          z-index: 1;
        }



        @media (min-width: $lg) {
          margin-top: 70px;
        }
      }


      @media (min-width: $lg) {
        margin-bottom: 90px;
      }

    } // footer
  }
}

.order-form-wrapper , .modal-order .modal-header {
  padding: 0 30px;
  .back-btn {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
    @media (min-width: 355px) {
      margin-top: 0;
    }
    img {
      width: 90%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0 , -50%);
    }
  }

  @media (min-width: $sm) {
    padding: 0 50px;
    .back-btn {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
}

.modal-order {
  .payment {
    width: 100%;
    max-width: 100%;
    h5 {
      font-size: 2.25rem;
    }
    img {
      width: 100%;
      max-width: 256px;
      transform: translate(0);

      height: auto;
    }
  }
  position: relative;

  .button {
    &--bg--theme {
      margin-top: 50px;
      @media (max-width: 420px) {
        width: 100%;
      }
      @media (min-width: $lg) {
        margin-top: 60px;
        padding-left: 4.6rem;
        padding-right: 4.6rem;
      }
    }
  }

  .modal-title-inner {
    .title {
      padding-left: 0;
    }
  }

  .order-details {
    padding: 0 !important;
    margin-bottom: 30px;
    @media (min-width: $md) {
      .total-price {
        padding-top: 0 !important;

      }
      margin-bottom: 40px !important;

    }
  }

  .close-modal {
    position: absolute;
    top: 0; right: 0;
  }

  .modal-header {
    @media (max-width: $sm - 1) {
      margin-top: 20px;
    }
    margin-bottom: 30px;

    span {
      font: 300 11px 1 / $fontFamily;
      color: #7E7E7E;
    }

    .modal-title-inner {
      @media (min-width: $sm) {
        margin-top: 50px;
      }
    }

    h2 {
      min-width: max-content;
      padding-right: 20px;
      margin-top: 15px;
      font: 400 1.5rem / 1 $fontFamilyPrimary;
      @media (min-width: 355px) {
        margin-top: 0;
      }
      @media (min-width: $sm) {
        font-size: 1.8rem;
      }

      @media (min-width: $md) {
        font-size: 2rem;
      }

      @media (min-width: $lg) {
        font-size: 2.25rem;
        margin-bottom: 13px;
      }
    }
  }
}


