.product-card {
  width: 100%;
  position: relative;

  &--cover {
    width: 100%;
    padding-top: 161.7%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50% , -50%);

      width: 100%;
      height: auto;
    }
  } // cover

  .sale {
    position: absolute;
    bottom: 0; right: 0;
  }


  &--footer {
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    .button {
      width: 100%;
      transform: translate(-50% , 100px);
      transition: .4s;
      position: absolute;
      bottom: 0; left: 50%;
      padding: {
        top: 2px;
        bottom: 2px;
      };

      &:before {
        display: none;
      }
    }

    &> span {
      font: 300 12px / 1 $fontFamily;
      color: $lightGrey;
      margin-bottom: 5px;
    }

    h4 {
      margin-top: 5px;
      margin-bottom: 10px;
      font: 700  .875rem / 1 $fontFamily;
    }

    @media (max-width: $md - 1) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;

      .price {
        font-size: 13px;

        @media (min-width: 359px) {
          font-size: 14px;
        }
      }
    }

    @media (min-width: $md) {
      h4 {
        font-size: 1rem;
      }
    } // md
  } // footer

  &:hover {
    .product-card--footer {
      .button {
        transform: translate(-50% , 0);
      }
    }
  }

  .price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    .price {
      min-width: max-content;
      margin-top: 0;
      font-size: 1rem;

      &--old {
        font-weight: 300;
        margin-bottom: 5px;
        &+.price {
          margin-bottom: 5px;
        }
      }
    }
  }

  &--fashion {
    &--lg {
      .product-card--cover {
        padding-top: 134%;
        img {
          top: 0;
          transform: translate(-50% , 0);

          @media (min-width: $md) {
            height: 100%;
            width: auto;
            max-width: unset;
          }
        }
      }
    } // lg

    &--sm {
      .product-card--cover {
        width: 100%;
        padding-top: 117.6%;
      }

      .product-info {
        @include container();
        padding-bottom: 30px !important;

        @media (min-width: $md) {
          @include containerReset();
        }
      }
      h4 {
        text-align: center;
        margin-top: 20px;
        font: 700 1rem / 1 $fontFamily;
      }

      .price-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 10px;

        .price {
          font-size: 1rem;
          margin-top: 0;
          &--old {
            margin-right: auto;
            font-weight: 400;
            margin-bottom: 10px;

          }
        }
      }

    }
  }
} // card

.price-block {
  .price {
    font-size: 36px;
    text-align: right;
  }
}


