//.contact-info {
//  margin-top: 40px;
//}

.contact  {
  h1 {
    font-weight: 400;
  }
}

.contact-data {
  &-list {
    li {
      margin-bottom: 20px;
      font: 300 1rem / 1 $fontFamily;

      &:last-child {
        margin-bottom: 0;
      }

      a, span {
        display: block;
      }


      span {
        font-weight: 400;
        margin-bottom: 10px;
      }

      @media (min-width: $sm) and (max-width: $lg - 1) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        max-width: 390px;

        a, span {
          width: 50%;
        }

        span {
          margin-bottom: 0;
        }
      }

      @media (min-width: $xxl - 100) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        a, span {
          width: 50%;
        }

        span {
          margin-bottom: 0;
          padding-right: 5px;
        }
      }
    }
  }


}

.location-data {
  margin-top: 25px;
  &-list {
    li {
      font: 300 1rem / 1.2 $fontFamily;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        font-weight: 400;
        margin-right: 5px;

      }
    }
  }

  @media (min-width: $md) {
    padding-left: 30px;
    margin-top: 0;
  }
}

.map-wrapper {
  width: 100%;
  padding-top: 73.3%;
  position: relative;

  iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $md) {
    padding-top: 47.5%;
  }
}

.contact {
  max-width: 100%;
  overflow: hidden;

  .social-wrap {
    h3 {
      font: 400 1rem / 1 $fontFamily;
      margin-bottom: 15px;

      @media (min-width: $md) {
        font-size: 1.5rem;
      }
    }

    margin-top: 30px;

    @media (min-width: $md) {
      margin-top: 50px;
    }

    @media (min-width: $xl) {
      margin-top: 70px;
    }

    @media (min-width: $xl + 200) {
      margin-top: 92px;
    }
  }

  form {
    margin-top: 50px;
  }

  @media (min-width: $lg - 1) {
    form {
      margin-top: 0;
    }
  }
}
