.fashion-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .fashion-item {
    width: 100%;

    &--slider {
      @media (min-width: $lg) {
        width: 80%;
      }
    }

    &--fashion {
      @media (min-width: $xl + 400) {
        .fashions-list {
          width: 85%;
          margin-left: auto;
        }
      }

      @media (max-width: $lg - 1) {
        border-bottom: 1px solid $themeColor;
        margin-bottom: 20px;
      }
    }
  }
}

.fashion-page-slider {
  width: 100%;

  .slick-prev, .slick-next {
    width: auto;
    height: auto;
    top: auto;
    bottom: 0;
    transform: translate(0);
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  li {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    @media (min-width: $lg) {
      border: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.order-block {
  .button {
    &--order {
      width: 100%;
      padding: {
        top: 1rem;
        bottom: 1rem;
      };
    }
  }
  @media (max-width: $md - 1) {
    @include container();
  }
}

.fashion-page.page-content {
  min-height: unset;
  .order-block {
    .price-block {
      span {
        font-size: 1rem;
        @media (min-width: $sm) {
          display: none;
        }
      }

      .price {
        font-size: 2.25rem;
      }
    }
  }

  h1 {
    font: 400 1.5rem / 1.2 $fontFamily;
    text-align: center;
    margin-top: .83em;
    margin-bottom: .83em;

    @media (min-width: $sm) {
      font-size: 1.75rem;

    }

    @media (min-width: $md) {
      font-size: 2rem;
    }

    @media (min-width: $lg) {
      font-size: 2.25rem;
      margin-right: 14%;
      margin-top: 0;
      margin-bottom: 0;
      text-align: right;
    }
  }

  //.fashions-list {
  //  @media (max-width: $md - 1) {
  //    @include container();
  //  }
  //}
}
