.product-wrapper {
  margin: 0 auto;

  .product-info {
    @media (max-width: $md - 1) {
      @include container();
    }

    @media (max-width: $lg - 1) {
      margin-top: 16px;
    }
  }

  @media (min-width: $lg) {
    padding-left: 50px;

    .product-info {
      padding-right: 50px;
    }
  }

  @media (min-width: $xl + 200) {
    padding-left: 100px;
  }

  @media (min-width: $xl + 400) {
    padding-left: calc((100vw - 1440px)/2);
    padding-right: 90px;
  }

  @media (min-width: $xxl) {
    padding-left: 200px;
  }
}

.product-photos {
  display: flex;
  width: 100%;

  @media (max-width: $lg - 1) {

    .slick-prev, .slick-next {
      bottom: 0;
      top: auto;
      transform: translate(0);
      width: auto;
      height: auto;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .product-photo-list {
      width: 100%;
      li {
        width: 100vw;

        @media (min-width: 480px) {
          width: 50vw;
          border: 1px solid #fff;
          border-top: 0;
          border-bottom: 0;
        }

        @media (min-width: 580px) {
          width: 33vw;
        }

        .pic-wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          padding-top: 131.4%;
          background-color: #f2f2f2;

          img {
            position: absolute;
            height: auto;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translate(0 , -50%);
          }
        }
      }
    }
  }

  @media (min-width: $lg) {
    $previewWidth: 128px;
    .previews-list {
      width: $previewWidth;
      li {
        padding-top: 109.4%;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;

        img {
          position: absolute;
          height: 100%;
          width: auto;
          max-width: unset;
          top: 0;
          left: 50%;
          transform: translate(-50% , 0);
        }
      }
    }

    .product-photo-list {
      margin-left: 20px;
      width: calc(90% - #{$previewWidth});

      li {
        margin-bottom: 10px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.product-info {
  &--top {
    border-bottom: 1px solid $themeColor;
    padding-bottom: 10px;

    .collection {
      margin-bottom: 10px;
      display: block;
    }

    h1 {
      font: 400 1.5rem / 1 $fontFamilyPrimary;
      span {
        display: block;
        font-size: 12px;
        color: $lightGrey;
        margin-top: .5rem;
      }
      @media (min-width: $sm) {
        font-size: 1.8rem;
      }

      @media (min-width: $md) {
        font-size: 2rem;
      }

      @media (min-width: $lg) {
        font-size: 2.25rem;
      }
    }
  }

  .order-wrapper {

    @media (max-width: $md - 1) {
      .button {
        margin-top: 30px;
        width: 100%;
      }
    }
    @media (min-width: $md) {
      margin-top: 15px;
    }

    .button {
      margin-bottom: 20px;
    }
  }

  .price-wrapper {
    margin-bottom: 20px;
    font-size: 2.25em;
    padding-right: 30px;
    .price {
      font-size: 1em;
      margin-top: 10px;
      &--old {
        font: 400 .44em / 1 $fontFamily;
        margin-top: 0;
      }
    }
  }

  .product-settings {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $md - 100) {
      justify-content: space-between;
    }
    &--item {
      min-width: max-content;
      padding-right: 10px;
      margin-bottom: 20px;
      &:first-child {
        margin-right: 9%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $md - 100) {
        margin-right: 12%;
        padding-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      h4 {
        font: 400 1.5rem / 1 $fontFamily;
        margin-bottom: 16px;
        margin-top: 0;
      }
      ul {
        li {
          margin-bottom: 15px;
        }
      }
      &--size {
        .size-list {
          display: flex;
          flex-direction: row;
          writing-mode: vertical-lr;
          flex-wrap: wrap;
          max-height: 120px;
          width: auto;

          li {
            writing-mode: horizontal-tb;
            margin-left: 20px;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              margin-left: 0;
            }

            &:nth-child(3n) {
              margin-bottom: 0;
            }

            .checkbox label + .theme-label,
            .radio label + .theme-label {
              padding-left: 12px;
            }

          }
        }
      }
      &--color {
        .colors-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          writing-mode: vertical-lr;
          max-height: 120px;

          li {
            width: auto;
            margin-right: 20px;
            display: flex;
            writing-mode: horizontal-tb;

            &:first-child {
              margin-left: 0;
            }

            &:nth-child(3n) {
              margin-bottom: 0;
            }

            .radio {
              input[type="radio"] + label {
              }
            }
          }
        }
      }
    }
  }


  @media (min-width: $md) {
    .order-wrapper {
      margin-top: 37px;
    }
  }
}

.counter {
  button {
    $size: 18px;
    height: $size;
    width: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 1rem;
  }

  span {
    padding: 0 5px;
    font: 300 1rem / 1 $fontFamily;
    width: 50px;

    input {
      border: none;
      width: 100%;
      text-align: center;
      padding: 0;
      height: 20px;
    }
  }
}

.product-form {
  width: 100%;
  @media (max-width: $lg - 1) {
    padding-bottom: 40px;
    border-bottom: 1px solid $themeColor;
  }
}

.product-description {
  padding-top: 24px;
  margin-bottom: 1.5rem;
  h2 {
    font: 400 1.5rem / 1 $fontFamily !important;
  }
  .wrapper--hidden {
    overflow: hidden;
    //margin-bottom: 1.5rem;
    margin-top: 1rem;
    will-change: height;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: inset 0 -10px 11px -11px #fff;
      z-index: 9999;
    }
  }

  ul {
    li {
      margin-bottom: .7rem;
    }
  }

  p {
    margin-bottom: 1rem;
  }

  .more-button {
    margin-top: 10px;
    @media (min-width: $sm) {
      margin-top: 1rem;
    }
  }

  p, li, span {
    font: 300 1rem / 1 $fontFamily;
  }

  @media (min-width: $md) {
    margin-bottom: 2.5rem;
  }
}

.product-sticky-wrapper {
  width: 100%;
}

.quick-order {
  margin-top: 20px;

  p, ul, span, ol {
    padding-top: 10px;
    font: 300 1rem / 1.2 $fontFamily;
  }

  h2 {
    font: 400 1.5rem / 1.2 $fontFamily !important;
    margin-bottom: 10px;

    &+ p, &+ ul, &+ span, &+ ol {
      padding-top: 0;
    }
  }

  .button, input {
    width: 100%;
    min-height: 50px;
  }

  @media (max-width: $md - 1) {
    @include container();
    input {
      margin-bottom: 30px;
    }
    @media (min-width: $sm) {
      input, .button {
        width: 95%;
        margin-bottom: 0;
      }

      .button {
        margin-left: auto;
      }
    }
  }
  @media (min-width: $lg) {
    margin-top: 33px;
  }
}

.already-show {
  padding-top: 30px;
  h2 {
    font: 400 1.5rem / 1.3 $fontFamily;
    margin-bottom: 20px;
  }

  .products-list {

    .product-card {
      display: block;

      &--footer {
        .button {
          transform: translate(-50% , 100%);
        }
      }
      &:hover {
        .product-card--footer {
          .button {
            transform: translate(-50% , 0);
          }
        }
      }
    }
  }

  @media (max-width: $md - 1) {
    .wrap {
      @include container();
    }
    //.products-list {
    //  .col-3 {
    //    padding: 0 !important;
    //  }
    //
    //  .product-card--footer {
    //    display: none;
    //
    //
    //  }
    //}
  }

  @media (max-width: $lg) {
    padding-top: 50px;


  }

  @media (min-width: $xl) {
    padding-top: 85px;
    //padding-left: 138px;

    .container {
    }
    .products-list {
      max-width: 1150px;
    }
  }
}
